Django==1.7.1
django-registration-redux>=1.1
django-tastypie>=0.12.1
Pillow>=2.6.1
django-celery>=3.1.16
Celery>=3.1.17
eventbrite>=0.45
billiard>=3.3.0.19
kombu>=3.0.24
pytz>=2014.9
psycopg2>=2.5.4
lxml>=3.4.0
stripe

# Django Gather code
git+https://git@github.com/opendoor/django-gather.git

# the stripe library requires custom arguments which the requirements.txt file
# parsing apparently doesn't support, so install it manually on the command
# line using:
# pip install --index-url https://code.stripe.com --upgrade stripe
